<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reatividade com Proxy</title>
  <script src="script.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app">
    <div id="header">
      <h2>JS REACTIVITY USING PROXIES</h2>
      <small> Trying to understand how vue.js reactivity works in practice.</small>
    </div>
    <div id="content">
      <input id="input1" placeholder="Input 1"></input>
      <input id="input2" placeholder="Input 2"></input>
      <input id="nome" placeholder="nome"></input>
      <br>
      <span id="new_value">Resultado: </span>
      <span id="span_nome">Nome: </span>
    </div>
  </div>
</body>
</html>
